$yellow: #ffd15b;
$grey: #7a7a7a;
$lightgrey: #ededed;
$lightlightgrey: #c6c6c6;

* {
    // border: 2px solid red;
}

.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

/*
.manrope-default {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/

/* dynamic filtered display classes */

.hide {
    display: none;
}

.show {
    // PROBABLY UNNECESSARY, everything is displayed by default
}

.smooth-transition {
    transition: all 1s ease;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        z-index: 0;
    }
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    max-width: 1440px;

    .logo {
        margin: 0;
        display: flex;
        position: absolute;
        left: 69px;
        top: 51px;
        color: white;
        z-index: 1;
        align-items: center;

        * {
            margin: 0;
        }

        h1 {
            font-size: 1.75rem;
            letter-spacing: 0.5px;
            margin-right: 2px;
        }
    }
}

main {
}

section {
}

.sectionTop {
    position: relative;

    &__background-img {
        height: 667px;
        width: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 66%;
    }

    &__hero {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        font-size: 2.75rem;
        text-align: center;
        color: $yellow;
    }

    &__form-container {
    }

    &__form-field {
        position: relative;
        display: flex;
        align-items: center;

        input {
            width: 100%;
            border-radius: 12px;
            font-size: 1rem;
            padding: 26px;
            color: $grey;
            caret-color: transparent;
        }
    }

    &__svg-group {
        position: absolute;
        display: flex;
        align-items: center;
        right: 10px;
    }

    &__svg-clear {
        display: none;
        margin-right: 15px;
    }

    &__svg-search {
        * {
            transition: all 0.3s;
        }

        &:hover {
            rect {
                fill: $yellow;
            }

            circle,
            line {
                stroke: black;
            }
        }
    }
}

.sectionRecipes {
    background-color: $lightgrey;
    padding: 0px 70px;
}

.sectionRecipes__header {
    position: relative;
    padding: 30px;
    margin: -5px 0px;
}

.sortingList__item__selected {
    order: -1;
    background-color: $yellow;
    transition: background-color 0.5s ease;
}

.sortingGroup {
    justify-self: start;
    display: flex;
    position: absolute;
    pointer-events: none;

    &__customDropdown {
        pointer-events: auto;
        background-color: white;
        border-radius: 15px;
        margin-right: 40px;
        max-height: 60px;
        overflow-y: hidden;
        transition: all 0.7s;
        max-width: min-content;

        .sortingList {
            transition: all 0.5s ease-in-out;
            opacity: 0;
        }

        &.displayed {
            max-height: 300px;
            height: fit-content;
            overflow-y: scroll;

            .sortingList {
                opacity: 1;
            }
        }
    }
}

.dropdownBtn {
    position: sticky;
    top: 0;
    display: flex;
    border: none;
    color: black;
    background-color: white;
    padding: 20px;
    font-size: 1rem;
    align-items: center;

    &__title {
        margin-right: 70px;
        display: block;
    }

    i {
        margin-right: 0px;
    }
}

.sortingList {
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    font-size: 0.875rem;
    padding: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-flow: column;

    ul {
        overflow-y: scroll;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;

        &.hide {
            display: none;
            background-color: red;
        }
        svg {
            margin-right: 20px;
            display: none;
        }
    }

    li:not(.sortingList__input-field) {
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0px 0px;
        transition: background-color 0.4s;

        &:hover {
            background-color: $yellow;
        }
    }

    &__input-field {
        position: sticky;
        top: 58.5px;
        background-color: white;
        margin-top: 0px;
        padding-bottom: 15px;
        order: -2;
    }

    &__form-field {
        position: relative;
        display: flex;
        align-items: center;

        input {
            width: 80%;
            border-radius: 2px;
            font-size: 0.875rem;
            padding: 10px;
            max-width: fit-content;
            margin-right: 20px;
            padding-right: 50px;
            color: $grey;
            border: 2px solid $lightlightgrey;
        }
    }

    &__svg-group {
        position: absolute;
        display: flex;
        align-items: center;
        right: 20px;
    }

    &__svg-clear {
        display: none;
        margin-right: 15px;
    }
}

.sectionRecipes {
    position: relative;
    z-index: 1;

    &__recipe-total {
        text-align: end;
        font-size: 1.313rem;
        letter-spacing: 0.01rem;
    }

    &__tags-section {
        display: flex;
        flex-flow: wrap;
    }

    &__applied-tag {
        background-color: $yellow;
        padding: 20px;
        font-size: 0.875rem;
        border-radius: 15px;
        margin-right: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        animation: scaleUp 0.5s;

        svg {
            margin-left: 30px;
        }
    }

    &__cardArea {
        display: flex;
        flex-flow: wrap;
        justify-items: space-around;
        pointer-events: none;
    }
}

.cardRecipe {
    &__article {
        pointer-events: auto;
        position: relative;
        z-index: -1;
        height: 731px;
        width: 380px;
        margin: auto;
        border-radius: 15px;
        background-color: white;
        margin-bottom: 70px;

        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 34%;
            object-fit: cover;
        }

        &-time {
            position: absolute;
            top: 10px;
            right: 20px;
            border-radius: 20px;
            background-color: $yellow;
            padding: 5px 15px;
        }

        &-text {
            font-size: 0.875rem;
            margin: 25px;
        }

        &-title {
            font-size: 1.125rem;
            margin: 30px 0px;
        }

        &-subtitle {
            margin: 10px 0px;
            font-size: 0.75rem;
            letter-spacing: 1.2px;
            color: $grey;
            text-transform: uppercase;
        }

        &-instructions {
            margin-bottom: 20px;
            overflow-y: hidden;
            max-height: 115px;
        }

        dl {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 0px;

            > div {
                display: flex;
                flex-flow: column;
                justify-items: start;
                margin: 10px 0px;

                * {
                    margin: 0;
                }

                dt {
                    text-transform: capitalize;
                }

                dd {
                    color: $grey;
                }
            }
        }
    }
}
