$yellow: #ffd15b;
$grey: #7a7a7a;
$lightgrey: #ededed;
$lightlightgrey: #c6c6c6;

* {
    // border: 2px solid red;
}

.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

/*
.manrope-default {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    max-width: 1440px;
    .logo {
        margin: 0;
        display: flex;
        position: absolute;
        left: 69px;
        top: 51px;
        color: white;
        z-index: 1;
        align-items: center;
        * {
            margin: 0;
        }
        h1 {
            font-size: 1.75rem;
            letter-spacing: 0.5px;
            margin-right: 2px;
        }
    }
}

main {
}

section {
}

.sectionTop {
    position: relative;
    &__background-img {
        height: 667px;
        width: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 66%;
    }
    &__hero {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        font-size: 2.75rem;
        text-align: center;
        color: $yellow;
    }
    &__form-container {
    }
    &__form-field {
        position: relative;
        display: flex;
        align-items: center;
        input {
            width: 100%;
            border-radius: 12px;
            font-size: 1rem;
            padding: 26px;
            color: $grey;
            caret-color: transparent;
        }
    }
    &__svg-group {
        position: absolute;
        display: flex;
        align-items: center;
        right: 10px;
    }
    &__svg-clear {
        display: none;
        margin-right: 15px;
    }

    &__svg-search {
        * {
            transition: all 0.3s;
        }
        &:hover {
            rect {
                fill: $yellow;
            }
            circle,
            line {
                stroke: black;
            }
        }
    }
}

.sectionRecipes {
    background-color: $lightgrey;
}

.sectionRecipes__header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    p {
    }
}

.sortingGroup {
    justify-self: start;
    display: flex;
    &__customDropdown {
        margin-right: 40px;
        position: relative;
    }
}

.dropdownBtn {
    display: flex;
    border: none;
    color: black;
    background-color: white;
    padding: 5px 20px;
    font-size: 1rem;
    align-items: center;
    border-radius: 15px;
    p {
        margin-right: 70px;
    }
    i {
        margin-right: 0px;
    }
}

.sortingList.displayed {
    max-height: 250px;
    visibility: visible;
}

.sortingList {
    visibility: hidden;
    transition: all 0.7s;
    max-height: 0px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: column;
    list-style: none;
    background-color: white;
    font-size: 0.875rem;
    padding: 5px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: scroll;
    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__input-field {
        position: sticky;
        top: 0;
        background-color: white;
        margin-top: 0px;
    }
    &__form-field {
        position: relative;
        display: flex;
        align-items: center;
        input {
            width: 80%;
            border-radius: 2px;
            font-size: 0.875rem;
            padding: 10px;
            color: $grey;
            border: 2px solid $lightlightgrey;
        }
    }
    &__svg-group {
        position: absolute;
        display: flex;
        align-items: center;
        right: 20px;
    }
    &__svg-clear {
        display: none;
        margin-right: 15px;
    }
}

.sectionRecipes {
    &__cardArea {
        display: flex;
        justify-items: space-around;
    }
    &__card {
        height: 731px;
        width: 380px;
        border: 1px solid black;
        margin: auto;
    }
}
