.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*
.manrope-default {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  position: relative;
  max-width: 1440px;
}
header .logo {
  margin: 0;
  display: flex;
  position: absolute;
  left: 69px;
  top: 51px;
  color: white;
  z-index: 1;
  align-items: center;
}
header .logo * {
  margin: 0;
}
header .logo h1 {
  font-size: 1.75rem;
  letter-spacing: 0.5px;
  margin-right: 2px;
}

.sectionTop {
  position: relative;
}
.sectionTop__background-img {
  height: 667px;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.sectionTop__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 66%;
}
.sectionTop__hero {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 2.75rem;
  text-align: center;
  color: #ffd15b;
}
.sectionTop__form-field {
  position: relative;
  display: flex;
  align-items: center;
}
.sectionTop__form-field input {
  width: 100%;
  border-radius: 12px;
  font-size: 1rem;
  padding: 26px;
  color: #7a7a7a;
  caret-color: transparent;
}
.sectionTop__svg-group {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
}
.sectionTop__svg-clear {
  display: none;
  margin-right: 15px;
}
.sectionTop__svg-search * {
  transition: all 0.3s;
}
.sectionTop__svg-search:hover rect {
  fill: #ffd15b;
}
.sectionTop__svg-search:hover circle,
.sectionTop__svg-search:hover line {
  stroke: black;
}

.sectionRecipes {
  background-color: #ededed;
}

.sectionRecipes__header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.sortingGroup {
  justify-self: start;
  display: flex;
}
.sortingGroup__customDropdown {
  margin-right: 40px;
  position: relative;
}

.dropdownBtn {
  display: flex;
  border: none;
  color: black;
  background-color: white;
  padding: 5px 20px;
  font-size: 1rem;
  align-items: center;
  border-radius: 15px;
}
.dropdownBtn p {
  margin-right: 70px;
}
.dropdownBtn i {
  margin-right: 0px;
}

.sortingList {
  transition: all 0.4s;
  max-height: 0px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column;
  list-style: none;
  display: none;
  background-color: white;
  font-size: 0.875rem;
  padding: 5px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: scroll;
}
.sortingList.displayed {
  max-height: 250px;
}
.sortingList li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sortingList__input-field {
  position: sticky;
  top: 0;
  background-color: white;
  margin-top: 0px;
}
.sortingList__form-field {
  position: relative;
  display: flex;
  align-items: center;
}
.sortingList__form-field input {
  width: 80%;
  border-radius: 2px;
  font-size: 0.875rem;
  padding: 10px;
  color: #7a7a7a;
  border: 2px solid #c6c6c6;
}
.sortingList__svg-group {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
}
.sortingList__svg-clear {
  display: none;
  margin-right: 15px;
}

.sectionRecipes__cardArea {
  display: flex;
  justify-items: space-around;
}
.sectionRecipes__card {
  height: 731px;
  width: 380px;
  border: 1px solid black;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
